# Object files
*.o
*.ko
*.obj
*.elf

# Executable
openmemdb
lemon
test_libomdb
temp_server
omdb_console

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.out

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Document intermediaries
*.aux
*.log
*.pdf
*.backup

# Gedit backup file
.*~

# VIM temp files
*.swp

# generic temp file
*.tmp
*.temp

# Project files (Eclipse)
*.cproject
*.project

# GTAGS
GPATH
GRTAGS
GTAGS
