# Object files
*.o
*.ko
*.obj
*.elf

# Executable
openmemdb

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Document intermediaries
*.aux
*.log
*.pdf
*.backup
Documents/doxygen

# Gedit backup file
.*~

# VIM temp files
*.swp

# Latex files
*.bbl
*.dvi
*.blg

# Graphics files
*.png
*.jpg
*.gif
*.pdf
graphics

#Latex intermidiate and compilation files
*.toc
*.gz
